
@model Nop.Plugin.Widgets.Ghost.WholeSeller.WholeSellerSettings
@using Nop.Web.Framework;
@using Nop.Core.Domain.Customers
@inject Nop.Core.IWebHelper webHelper
@{
    <li><a href="@Url.RouteUrl(Model.RouteUrl)" class="ico-account">@Model.Title</a></li>
}